.chair-room-page {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.left-div {
  flex: 1;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1rem;
  /* border-radius: 10px; */
  margin-right: 1rem;
}

.right-div {
  flex: 1;
  padding: 1rem;
}
.delegates-grid {
  display: grid;

  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: 1rem;
}

.delegate {
  text-align: center;
  position: relative;
}

.delegate img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  bottom: 2px;
  opacity: 0;
  left: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.delegate:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
