.chair-room-page {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.left-div {
  flex: 1;
  background-color: #f5f5f5;
  border: 1px solid black;
  padding: 1rem;
  margin-right: 1rem;
}

.right-div {
  flex: 1;
  padding: 1rem;
}

.delegates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.delegate {
  text-align: center;
}

.delegate img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
